.training-log {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.log-entry-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 50px;
}

#add-image {
  height: 40px;
  width: 40px;
}

#up-arrow {
  position: fixed;
  height: 50px;
  width: 50px;
  left: 75vw;
  top: 100px;
}

#add-image:hover,
#up-arrow:hover {
  cursor: pointer;
}
