.training-log {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-entry-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#add-image {
  height: 40px;
  width: 40px;
}

.arrows {
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
}

.down-arrow,
.up-arrow {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.down-arrow {
  transform: rotate(180deg);
}

#add-image:hover,
.down-arrow:hover,
.up-arrow:hover {
  cursor: pointer;
}
